.row-container {
    display: flex;
    gap: 10px;
}


img:hover {
    box-shadow: 2px 2px 2px 2px #4CAF50;
}


.intro {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;

}

.banner {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;

}

body {
    background-color: antiquewhite;

}

h4 {
    color: #000;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;

}

#submit {
    display: block;
    margin: 20px auto;
}

.footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.contact {
    border: 2px solid #4CAF50;
    padding: 10px;
    margin: 20px;
    border-radius: 12px;
    background-color: #f2f2f2;
    font-size: 20px;
    text-align: center;

}



.header {

    text-align: center;

}

label {
    display: block;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}

input,
textarea {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 12px;
    padding: 10px;
    display: inline-block;
}



@media only screen and (max-width: 600px) {
    .row-container {
        flex-direction: column;
    }

    .button {
        margin-top: 10px;
    }
}